@using prueba_tecnica.Front.Client.Shared



<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <p>Página no encontrada.</p>
    </NotFound>
</Router>
